$primary-color: #254336;
$secondary-color: #6b8a7a;
$accent-color: #b7b597;
$neutral-color: #dad3be;

$font-title: 'Calistoga', system-ui, sans-serif;
$font-text: 'Lora Variable', system-ui, sans-serif;
